[Unit]
Description=Lister Components Manager

[Service]
User=jrm
Group=jrm
WorkingDirectory=/home/jrm/Code/js/seq-lister
ExecStart=/usr/bin/npm run dev
Restart=on-failure

[Install]
WantedBy=multi-user.target
