doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      a.btn.btn-primary(href='/')
        img(src='/image/home-icon.svg' alt="Home" width="20pt" height="24pt")
      | &nbsp;
      a.btn.btn-primary(href='/supergroup')
        img(src='/image/sg-icon.svg' alt="Supergrupos" width="20pt" height="24pt")
      | &nbsp;
      a.btn.btn-primary(href='/location')
        img(src='/image/loc-icon.svg' alt="Localizações" width="20pt" height="24pt")
      | &nbsp;
      a.btn.btn-primary(href='/case')
        img(src='/image/case-icon.svg' alt="Case" width="20pt" height="24pt")
      | &nbsp;
      a.btn.btn-primary(href='/shoplist')
        img(src='/image/shop-icon.svg' alt="Shoplist" width="20pt" height="24pt")
      | &nbsp;
      a.btn.btn-primary(href='/search')
        img(src='/image/search-icon.svg' alt="Logout" width="20pt" height="24pt")
      | &nbsp;
      if user !== undefined
        a.btn.btn-primary(href="/users/logout")
          img(src='/image/logout-icon.svg' alt="Logout" width="20pt" height="24pt")
      else
        a.btn.btn-primary(href="/users/login")
          img(src='/image/login-icon.svg' alt="Login" width="20pt" height="24pt")
    div.logmsg
      if user !== undefined
        p Logado como #{user.id} &nbsp;
      else
        p Usuário não logado &nbsp;
    div.main
      block content
