extends base

block content
  h1
    a.btn.btn-primary(href="/case")
      img(src="/image/back-icon.svg" alt="Voltar" width="20pt" height="24pt")
    | &nbsp; #[Strong Case:] #{ccase.name}

  form(name="alter" method="post" action="/case/"+ccase.id)
    div.form-group
      label(for='name') Nome/código:
      input#name.form-control(type="text", placeholder="Nome/código" name="name" required="true" value=(undefined===ccase ? '' : ccase.name) )

      label(for='descr') Descrição:
      input#descr.form-control(type="text", placeholder="Observações e notas" name="descr" value=(undefined===ccase ? '' : ccase.descr) )

      button(type="submit" class='btn btn-primary')
        img(src="/image/ok-icon.svg" alt="Alterar" width="20pt" height="24pt")

