extends base

block content
  h1 Lista de Compras dos Componentes

  each sl in shoplist
    p
      a.btn.btn-primary(href='/component/'+sl.id)
        img(src="/image/component-icon.svg" alt="Editar" width="16pt" height="20pt")
      | &nbsp; #{sl.gname}, #{sl.cname}, #{sl.in_stock}

  else
    li Não existem localizações selecionadas.
